.header {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-size: 50px;
  color: darkorange;
}

.welcome {
  position: absolute;
  top: 0100px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-size: 50px;
  color: darkorange;
}

nav {
  position: absolute;
  top: 300px;
  left: 20px;
  font-size: 30px;
  color: darkorange;
}

.Input {
  display: block;
  width: 60%;
  padding: 12px;
  font-size: 1.2rem;
  border: 2px solid #f0730d;
  border-radius: 5px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  top: 700px;
}

.nav-home-icon {
  width: 80px;
  height: 80px;
  margin-right: 8px;
  vertical-align: middle;
}

.nav-movie-icon {
  width: 80px;
  height: 80px;
  margin-right: 8px;
  vertical-align: middle;
}

.nav-cart-icon {
  width: 80px;
  height: 80px;
  margin-right: 8px;
  vertical-align: middle;
}

.nav-about-icon {
  width: 80px;
  height: 80px;
  margin-right: 8px;
  vertical-align: middle;
}

.add-button {
  display: block;
  padding: 12px;
  font-size: 1.2rem;
  border: 2px solid #f0730d;
  border-radius: 5px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  top: 700px;
}

.movie-list {
  margin-top: 800px;
  list-style-type: disc;

}

.movie-list li {
  padding: 5px;
  font-size: 1.2rem;
}

.movie-list li::marker {
  color: darkorange;
}